<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Interview Cards</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<h1 class="page-title">
    パーソナルレポート
</h1>


<div th:each="card : ${cards}"
     class="interview-card"
     th:id="'card-' + ${card.id}">
    <div class="interview-header">

        <div class="interview-name"
             th:text="${card.employee.name}">
        </div>

        <div>

            <strong>インタビュー日:</strong>

            <span th:text="${#temporals.format(
            card.employee.interviewDate,
            'yyyy/MM/dd'
        )}">
        </span>

        </div>

    </div>

    <form action="/interviewcards/update" method="post">

        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}">

        <input type="hidden"
               name="id"
               th:value="${card.id}">

        <div class="question-block">

            <div class="question-title">
                質問①
            </div>

            <input type="text"
                   name="question1"
                   th:value="${card.question1}">

        </div>

        <div class="question-block">

            <div class="question-title">
                回答①
            </div>

            <textarea class="answer-area"
                      name="answer1"
                      th:text="${card.answer1}">
    </textarea>

        </div>

        <div class="question-block">

            <div class="question-title">
                質問②
            </div>

            <input type="text"
                   name="question2"
                   th:value="${card.question2}">

        </div>

        <div class="question-block">

            <div class="question-title">
                回答②
            </div>

            <textarea class="answer-area"
                      name="answer2"
                      th:text="${card.answer2}">
    </textarea>

        </div>

        <div class="question-block">

            <div class="question-title">
                質問③
            </div>

            <input type="text"
                   name="question3"
                   th:value="${card.question3}">

        </div>

        <div class="question-block">

            <div class="question-title">
                回答③
            </div>

            <textarea class="answer-area"
                      name="answer3"
                      th:text="${card.answer3}">
    </textarea>

        </div>

        <div class="question-block">

            <div class="question-title">
                質問④
            </div>

            <input type="text"
                   name="question4"
                   th:value="${card.question4}">

        </div>

        <div class="question-block">

            <div class="question-title">
                回答④
            </div>

            <textarea class="answer-area"
                      name="answer4"
                      th:text="${card.answer4}">
    </textarea>

        </div>

        <div class="question-block">

            <div class="question-title">
                質問⑤
            </div>

            <input type="text"
                   name="question5"
                   th:value="${card.question5}">

        </div>

        <div class="question-block">

            <div class="question-title">
                回答⑤
            </div>

            <textarea class="answer-area"
                      name="answer5"
                      th:text="${card.answer5}">
    </textarea>

        </div>

        <div class="question-title">
            所感
        </div>
        <textarea class="answer-area"
                  name="impressions"
                  th:text="${card.impressions}">
        </textarea>

        <br><br>

        <div class="save-row">

            <button type="submit"
                    class="logout-btn">

                保存

            </button>

        </div>

    </form>

    <hr>

</div>

</body>
</html>